<!DOCTYPE html>

<html lang="en-AU">
<head>
  <title>URL Shortener Microservice</title>
  <link rel="icon"
        type="image/png"
        href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"/>

  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/style.css" rel="stylesheet" type="text/css">

  <script href="/public/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>

<body>
<h1 class="text-center fw-bold mt-4 mb-4">
  <span class="text-multi-color">URL Shortener Microservice</span>
</h1>

<hr/>

<div class="container text-center mt-5">
  <h2 class="mb-3">Short URL Creation</h2>

  <p class="mb-5">
    Example: <code>POST [project_url]/api/shorturl</code> -
    <code>https://www.google.com</code>
  </p>

  <form action="/api/shorturl" method="POST">
    <fieldset>
      <legend>URL Shortener</legend>
      <div class="d-flex align-items-center mb-3">
        <div class="flex-shrink-0">
          <label for="url_input">URL</label>
        </div>
        <div class="flex-grow-1 ms-3">
          <input id="url_input" type="text" name="url" class="form-control"
                 placeholder="https://www.freecodecamp.org/"/>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" value="POST URL"/>
    </fieldset>
  </form>

  <h2 class="mt-5 mb-3">Example Usage</h2>
  <p class="mb-4">
    <a href="/api/shorturl/1">
      [this_project_url]/api/shorturl/1
    </a>
  </p>

  <h5 class="mb-3">Will Redirect to:</h5>
  <p class="mb-0">https://forum.freecodecamp.org/</p>
</div>

<p class="text-center fw-bold mt-5 mb-0">
  <span class="text-multi-color">Developed by </span>
  Minh Ta
</p>
</body>
</html>
